<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>About us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../style/lib/bootstrap.css" rel="stylesheet" />
    <link href="../style/nebeskieStyle.css" rel="stylesheet" />
    <link href="../style/lib/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,300,700" rel='stylesheet' type='text/css' />

    <script src="../js/lib/jquery-1.12.3.min.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>
</head>
<body>
    <div id="Pageheader">
        <script>
            $("#Pageheader").load("pageHeader.htm");
        </script>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-justify">
                <h3 style="color: #2D7370">About us</h3>
                <span>
                    <abbr></abbr>
                    <p>
                        It all started with us having our final spats with our managers. Resultant, without having any backup plan, we both resigned from our jobs. 
                        To sink into the reality, we went to a nearby pub, and in a very cinematic fashion,  on a bar table, 
                        over a couple of drinks, the idea of Nebeskie was conceived. 
                        Like a fascinating start-up story, while having next round of drinks, Nebeskie's roadmap was laid.
                    </p>
                    <p>No, Wait!</p>
                    <p>In actuality, nothing of this happened.</p>
                    <p>
                        Nebeskie Labs Private Limited, the parent company of Earth Home, is the outcome of rigorous smart work, 
                        for more than two years, on the idea of bringing ease to our lives by infusion of latest technology. 
                        Earth Home was conceived with a focus on IoT products, for smart homes and a goal to provide cutting-edge technology 
                        at an affordable price. The goal was also to make our existing ecosystem energy efficient by way of monitoring. 
                        The company was incorporated on December 09, 2016 and received the Start-up India Recognition on May 26, 2017. Apart from adding 
                        innovation to our products, we are also determined to provide products of industry standard, which are safe and convenient to use.
                    </p>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                <h3 style="color: #2D7370">Team at work</h3>
                <!-- <p>
                        Nebeskie is empowered with a very talented design team which is especially supported by Knowledge 
                        consultants having cumulative industry experience of more than 25 years and is recognized as Start Up under  Startup India Program
                    </p>-->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                    <!--<img  src='http://placehold.it/200X200' />-->
                    <img class=' img-responsive img-circle' src="../img/AboutUs/Purushottam.jpg" style="width:200px;display:inline-block"/>
                    <!--<h3>Purushottam</h3>-->
                    <p>
                        <strong>Purushottam</strong>, 29 years old is a post graduate from Indian Institute of Management Kolkata.
                        He has worked in BFSI for more than 5 years hence garnering hands on experience in finance and marketing 
                    </p>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                    <!--<img class='img-circle' src='http://placehold.it/200X200' />-->
                    <img class=' img-responsive img-circle' src="../img/AboutUs/rahul.jpeg" style="width:200px; display:inline-block"/>
                    <p>
                        <strong>Rahul Dev Mandal</strong>, 31 years old is a Post Graduate from IFMR Chennai.
                        He has worked in Banking and Technology for 4 years, having experience in Product Development and Management.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-justify">
                <p>
                    Nebeskie is empowered with a very talented design team which is especially supported by Knowledge 
                        consultants having cumulative industry experience of more than 25 years and is recognized as Start Up under  Start-up India Program.
                </p>
            </div>
        </div>
    </div>
    <div id="PageFooter">
        <script>
            $("#PageFooter").load("pageFooter.htm");
        </script>
    </div>
</body>
</html>
