<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to Nebeskie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="../style/lib/bootstrap.css" rel="stylesheet" />-->
    <link href="../style/lib/bootstrap.min.css" rel="stylesheet" />
    <link href="../style/nebeskieStyle.css" rel="stylesheet" />
    <link href="../style/lib/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,300,700" rel='stylesheet' type='text/css' />

    <script async src="../js/lib/jquery-1.12.3.min.js"></script>
    <script async src="../js/lib/bootstrap.min.js"></script>
    <!--<script src="../js/lib/LazyImgLoad.min.js"></script>-->

</head>
<body>
    <div id="Pageheader">
        <script>
            $("#Pageheader").load("pageHeader.htm");
        </script>
    </div>

    <!--carausel-->
    <div id="nebeskie-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#nebeskie-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#nebeskie-carousel" data-slide-to="1"></li>
            <li data-target="#nebeskie-carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="../img/nebeskie_lr.jpg" data-src="../img/nebeskie.jpg" />
                <!--<div class="carousel-caption col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4">
                    <h3>Welcome to Nebeskie</h3>
                    <span >
                        <abbr>
                            Nebeskie Labs is a tech startup with focus on IoT products for smart home and goal is to provide cutting edge technology at affordable price 
                    to make the existing ecosystem energy efficient.
                        </abbr>
                    </span>
                </div>-->
            </div>
            <div class="item">
                <!--<a href="#">
                    <img class="img-responsive" src="../img/30.gif" data-src="../img/home/Group.jpg" /></a>-->
                <img class="img-responsive" src="../img/home/Group_lr.jpg" data-src="../img/home/Group.jpg" />
                <div class="carousel-caption">
                    <h3>Time to switch to IOT</h3>
                    <!--<p>Just Kitten Around</p>-->
                </div>
            </div>
            <div class="item">
                <!-- <a href="#">
                    <img class="img-responsive" src="../img/30.gif" data-src="../img/home/Switches_1.jpg" /></a>-->
                <img class="img-responsive" src="../img/home/Switches_1_lr.jpg" data-src="../img/home/Switches_1.jpg" />
                <div class="carousel-caption">
                    <h3>Meet Earth Home</h3>
                    <!--<p>Just Kitten Around</p>-->
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#nebeskie-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#nebeskie-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-justify">
                <h3 style="color: #2D7370">Welcome To Nebeskie</h3>
                <span>
                    <abbr></abbr>
                    Nebeskie Labs is a tech startup with a focus on IoT products for smart home and goal is to provide cutting-edge 
                    technology at an affordable price and to make the existing ecosystem energy efficient. 
                    The company was incorporated on 9th Dec 2016 and received the Startup India Recognition on 26th May 2017. 
                    Along with innovation in our product, we are determined to provide a product of industry standards which is safe and convenient for the user to use.
                </span>
            </div>
        </div>
        <!--Horizontal Line-->
        <div class="row" style="margin-top: 1%; margin-bottom: 1%">
            <hr class="col-lg-1 col-lg-offset-5" />
        </div>

        

        <!--Horizontal Line-->
        <!--<div class="row" style="margin-top: 1%; margin-bottom: 1%">
            <hr class="col-lg-1 col-lg-offset-5" />
        </div>-->
    </div>
    <!--<div>
        <img class="img-responsive" src="http://placehold.it/1500x200" />
    </div>-->
    <div id="NebeskieProduct" class="container-fluid">
        <!--Horizontal Line-->
        <!--<div class="row" style="margin-top: 1%; margin-bottom: 1%">
            <hr class="col-lg-1 col-lg-offset-5" />
        </div>-->
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <h3 style="color: #2D7370">Products</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px!important;">
                <!-- background: url('../img/30.gif') no-repeat; background-size: 100%;-->
                <!--<img src="../img/30.gif" data-src="../img/home/1.jpg" style="width: 100%" />-->
                <img class="img-responsive" src="../img/home/1_lr.jpg" data-src="../img/home/1.jpg" />

                <div class="carousel-caption hidden-xs" style="padding-bottom: 10%;">
                    <button class="btn btn-default btn-lg" type="submit" onclick="location.href='ProductWifiSwitch.htm'">learn more <i class="glyphicon glyphicon-play"></i></button>
                </div>
                <div class="carousel-caption hidden-lg hidden-md hidden-sm">
                    <button class="btn btn-default btn-xs" type="submit" onclick="location.href='ProductWifiSwitch.htm'">learn more <i class="glyphicon glyphicon-play"></i></button>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px!important;">
                <!-- background: url('../img/30.gif') no-repeat; background-size: 100%;-->
                <!--<img src="../img/30.gif" data-src="../img/home/2.jpg" style="width: 100%" />-->
                <img class="img-responsive" src="../img/home/2_lr.jpg" data-src="../img/home/2.jpg" />
                <div class="carousel-caption hidden-xs" style="padding-bottom: 10%;">
                    <button class="btn btn-default btn-lg" type="submit" onclick="location.href='ProductIRRemote.htm'">learn more <i class="glyphicon glyphicon-play"></i></button>
                </div>
                <div class="carousel-caption hidden-lg hidden-md hidden-sm">
                    <button class="btn btn-default btn-xs" type="submit" onclick="location.href='ProductIRRemote.htm'">learn more <i class="glyphicon glyphicon-play"></i></button>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px!important;">
                <!-- background: url('../img/30.gif') no-repeat; background-size: 100%;-->
                <!-- <img src="../img/30.gif" data-src="../img/home/2.jpg" style="width: 100%" />-->
                <img class="img-responsive" src="../img/home/3_lr.jpg" data-src="../img/home/3.jpg" />

                <div class="carousel-caption hidden-xs" style="padding-bottom: 10%;">
                    <button class="btn btn-default btn-lg" type="submit" onclick="location.href='ProductMonitorSaveEnergy.htm'">learn more <i class="glyphicon glyphicon-play"></i></button>
                </div>
                <div class="carousel-caption hidden-lg hidden-md hidden-sm">
                    <button class="btn btn-default btn-xs" type="submit" onclick="location.href='ProductMonitorSaveEnergy.htm'">learn more <i class="glyphicon glyphicon-play"></i></button>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px!important;">
                <!-- background: url('../img/30.gif') no-repeat; background-size: 100%;-->
                <!--<img src="../img/30.gif" data-src="../img/home/4.jpg" style="width: 100%" />-->
                <img class="img-responsive" src="../img/home/4_lr.jp"  data-src="../img/home/4.jpg" />

                <div class="carousel-caption hidden-xs" style="padding-bottom: 10%;">
                    <button class="btn btn-default btn-lg" type="submit" onclick="location.href='ProductKrayons.htm'">learn more <i class="glyphicon glyphicon-play"></i></button>
                </div>
                <div class="carousel-caption hidden-lg hidden-md hidden-sm">
                    <button class="btn btn-default btn-xs" type="submit" onclick="location.href='ProductKrayons.htm'">learn more <i class="glyphicon glyphicon-play"></i></button>
                </div>
            </div>
            
            
        </div>

        
    </div>

    <div id="PageFooter">
        <script>
            $("#PageFooter").load("pageFooter.htm");
        </script>
    </div>
</body>
</html>

<script>
    $('.carousel[data-type="multi"] .item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 2; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
        }
    });
</script>
