<!-- Return to Top -->
<a href="javascript:" id="return-to-top"><i class="glyphicon glyphicon-arrow-up"></i></a>
<div id="aboveFooter" class="siteAboveFooter">
    <div class="container-fluid text-justify">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h5>Consumer Products</h5>
                <ul class="list-unstyled">
                    <li><a href="ProductWifiSwitch.htm">Earth Home Wi-Fi Switch</a></li>
                    <li><a href="ProductIRRemote.htm">IR Emote</a></li>
                    <li><a href="ProductKrayons.htm">Krayons</a></li>
                    <li><a href="ProductMonitorSaveEnergy.htm">Monitor and Save Energy</a></li>
                    <li><a href="javascript:void(0);">Earth Home App</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h5>Discover Nebeskie</h5>
                <ul class="list-unstyled">
                    <li><a href="aboutUs.htm">About Us</a></li>
                    <li><a href="aboutUs.htm">Team</a></li>
                    <li><a href="javascript:void(0);">NEWS & Media</a></li>
                    <li><a href="javascript:void(0);">Careers</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h5>Reach Us</h5>
                <ul class="list-unstyled">
                    <li><a href="ContactUs.htm">Contact Us</a></li>
                    <li><a href="javascript:void(0);">Support</a></li>
                    <li><a href="javascript:void(0);">Enquiry Form</a></li>
                    <li><a href="javascript:void(0);">Product Registration</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h5>Downloads</h5>
                <ul class="list-unstyled">
                    <li><a href="../document/brochure-Earthome-low.pdf" target="_blank"">Brochure</a></li>
                    <!--<li><a href="javascript:void(0);">Technical Specification Sheet</a></li>-->
                </ul>
            </div>
        </div>

    </div>
</div>
<div id="footer" class="siteFooter">
    <div class="container-fluid">
        <div class="row">
            <span style="padding-top:8px" class="pull-left col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">Copyright@2017 Nebeskie</span>
            <strong class="col-lg-3 col-md-3 pull-right" style="font-size: 20px;">
                <a style="color:white!important" href="https://www.facebook.com/nebeskie/"><i class="fa fa-fw fa-facebook"></i></a>
                <i class="fa fa-fw fa-google-plus-square"></i>
                <i class="fa fa-fw fa-youtube"></i>
                <i class="fa fa-fw fa-linkedin"></i>
            </strong>
        </div>

    </div>
</div>
<script>

    // ===== Scroll to Top ==== 
    $(window).scroll(function () {
        if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function () {      // When arrow is clicked
        $('body,html').animate({
            scrollTop: 0                       // Scroll to top of body
        }, 500);
    });
</script>
<script>
    $(function () {
        debugger;
        $('.lazy').Lazy({
            onFinishedAll: function () {
                if (!this.config("autoDestroy"))
                    this.destroy();
            },
            // your configuration goes here
            scrollDirection: 'vertical',
            effect: 'fadeIn',
            visibleOnly: true,
            onError: function (element) {
                console.log('error loading ' + element.data('src'));
            }

        });
    });

</script>