<!-- Return to Top -->
<a href="javascript:" id="return-to-top"><i class="glyphicon glyphicon-arrow-up"></i></a>
<div id="aboveFooter" class="siteAboveFooter">
    <div class="container-fluid text-justify">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h5>Consumer Products</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Earth Home Wi-Fi Switch</a></li>
                    <li><a href="#">IR Emote</a></li>
                    <li><a href="#">Krayons</a></li>
                    <li><a href="#">Earth Home App</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h5>Discover Nebeskie</h5>
                <ul class="list-unstyled">
                    <li><a href="aboutUs.htm">About Us</a></li>
                    <li><a href="aboutUs.htm">Team</a></li>
                    <li><a href="#">NEWS & Media</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <h5>Reach Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Enquiry Form</a></li>
                        <li><a href="#">Product Registration</a></li>
                    </ul>
                </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h5>Downloads</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Brochure</a></li>
                    <li><a href="#">Technical Specification Sheet</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div id="footer" class="siteFooter">
    <div class="container-fluid">
        <div class="row">
            <span class="pull-left col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">Copyright@2017 Nebeskie</span>
            <strong class="col-lg-3 col-md-3 pull-right">
                <i class="fa fa-fw fa-facebook"></i>
                <i class="fa fa-fw fa-google-plus-square"></i>
                <i class="fa fa-fw fa-youtube"></i>
                <i class="fa fa-fw fa-linkedin"></i>
            </strong>
        </div>

    </div>
</div>
<script>

    // ===== Scroll to Top ==== 
    $(window).scroll(function () {
        if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function () {      // When arrow is clicked
        $('body,html').animate({
            scrollTop: 0                       // Scroll to top of body
        }, 500);
    });
</script>