<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>About us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../style/lib/bootstrap.css" rel="stylesheet" />
    <link href="../style/nebeskieStyle.css" rel="stylesheet" />
    <link href="../style/lib/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,300,700" rel='stylesheet' type='text/css' />

    <script src="../js/lib/jquery-1.12.3.min.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>
</head>
<body>
    <div id="Pageheader">
        <script>
            $("#Pageheader").load("pageHeader.htm");
        </script>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-justify">
                <h3 style="color: #2D7370">Our Story</h3>
                <span>
                    <abbr></abbr>
                    <p>
                        It all started with us having our final spats with our bosses at our respective offices. 
                    Resultant, we both resigned from our jobs, without having any backup plan. In order to sink in the 
                    reality, we went to a happening pub and in a very cenamatic fashion, the idea of Nebeskie was 
                    concieved on a bar table over a couple of drinks. Like a fascinating startup story, 
                    our road map was also decided over another round of drinks.
                    </p>
                    <p>Wait...</p>
                    <p>Actually nothing of this happened.</p>
                    <p>
                        Nebeskie Labs Private Limited aka Nebeskie, the parent company of Earth Home is the outcome of<strong> constant regerous 
                    smart work for more than two years</strong> on the idea to add ease to our lives by infusing latest technology. 
                    Nebeskie Was concieved with a focus on IoT products for smart home and a goal is to provide cutting edge 
                    technology at affordable price to make the existing ecosystem energy efficient. 
                    Company was incorporated on December, 09 2016 and received the Startup India Recognition on 26th May 2017. 
                    <strong>Along with innovation in our product we are determined to provide products of industry standard, 
                    which is safe and convenient for the user to use.
                    </strong>
                    </p>
                </span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-justify">
                    <h3 style="color: #2D7370">Team at work</h3>
                    <p>
                        Nebeskie is empowered with a very talented design team which is especially supported by Knowledge 
                        consultants having cumulative industry experience of more than 25 years and is recognized as Start Up under  Startup India Program
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <img class='img-circle' src='http://placehold.it/200X200' />
                    <h3>Purushottam</h3>
                    <p>
                        29 years old is a post graduate from Indian Institute of Management Kolkata. 
                        He has worked in BFSI for more than 5 years hence garnering hands on experience in finance and marketing
                    </p>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <img class='img-circle' src='http://placehold.it/200X200' />
                    <h3>Rahul Dev Mandal</h3>
                    <p>
                        31 years old is a Post Graduate from IFMR Chennai. 
                        He has worked in Banking and Technology for 4 years, having experience in Product Development and Management.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div id="PageFooter">
        <script>
            $("#PageFooter").load("pageFooter.htm");
        </script>
    </div>
</body>
</html>
