<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to Nebeskie</title>
    <link href="../style/lib/bootstrap.css" rel="stylesheet" />
    <link href="../style/nebeskieStyle.css" rel="stylesheet" />
    <link href="../style/lib/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <!--super header-->
    <div id="site_top_panel" class="siteTopPanel hidden-sm hidden-xs">
        <div class="container-fluid">
            <div class="row">
                <strong class="pull-left col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">email : info@nebeskie.com</strong>
                <strong class="col-lg-3 col-md-3 pull-right">
                    <i class="fa fa-fw fa-facebook"></i>
                    <i class="fa fa-fw fa-google-plus-square"></i>
                    <i class="fa fa-fw fa-youtube"></i>
                    <i class="fa fa-fw fa-linkedin"></i>
                </strong>
            </div>

        </div>
    </div>

    <!--navigation bar-->
    <div id="navBar" style="font-size: 18px!important; padding-top: 0.5%;">
        <nav class="navbar navbar-default text-uppercase">
            <div class="container">
                <div class="row">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="home.htm">nebeskie logo</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="home.htm"><i class="glyphicon glyphicon-home"></i><span class="sr-only">(current)</span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us 
								<span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    <li><a href="#">team</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">history</a></li>
                                </ul>
                            </li>
                            <li><a href="ProductHome.htm">Products</a></li>
                            <li><a href="#">careers</a></li>
                            <li><a href="#">downloads</a></li>
                            <li><a href="#">contact us</a></li>
                        </ul>
                        <!--<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>-->
                        <!-- <ul class="nav navbar-nav navbar-right">
						<li><a href="#">Link</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</li>
					</ul>-->
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

    <!--carausel-->
    <div id="nebeskie-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#nebeskie-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#nebeskie-carousel" data-slide-to="1"></li>
            <li data-target="#nebeskie-carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <a href="#">
                    <img class="img-responsive" src="../img/nebeskie.jpg" /></a>
                <!--<div class="carousel-caption col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4">
                    <h3>Welcome to Nebeskie</h3>
                    <span >
                        <abbr>
                            Nebeskie Labs is a tech startup with focus on IoT products for smart home and goal is to provide cutting edge technology at affordable price 
					to make the existing ecosystem energy efficient.
                        </abbr>
                    </span>
                </div>-->
            </div>
            <div class="item">
                <a href="#">
                    <img class="img-responsive" src="../img/Group.jpg" /></a>
                <div class="carousel-caption">
                    <h3>Time to switch to IOT</h3>
                    <!--<p>Just Kitten Around</p>-->
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img class="img-responsive" src="../img/Switches_ 1.jpg" /></a>
                <div class="carousel-caption">
                    <h3>Meet earth worm</h3>
                    <!--<p>Just Kitten Around</p>-->
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#nebeskie-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#nebeskie-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <h3 style="color: #237dc8">Welcome To Nebeskie</h3>
                <span>
                    <abbr></abbr>
                    Nebeskie Labs is a tech startup with focus on IoT products for smart home and goal is to provide cutting edge technology at affordable price 
					to make the existing ecosystem energy efficient.  Company was incorporated on 9th  Dec 2016  and received the Startup India Recognition on 26th May 2017.
					Along with innovation in our product we are determined to provide a  product of industry standards which is safe and convenient for the user to use.

                </span>
            </div>
        </div>
        <!--Horizontal Line-->
        <div class="row" style="margin-top: 1%; margin-bottom: 1%">
            <hr class="col-lg-1 col-lg-offset-5" />
        </div>

        <!--<div class="row text-center">
			<div class="col-lg-6">
				<div class="col-lg-12" style="color: #237dc8; margin-bottom: 2%">
					<i class="fa fa-4x fa-users"></i>
					<h4>Team</h4>
				</div>
				<div class="col-lg-12 col-md-12" style="margin-bottom: 2%">
					<abbr>Lorem Ipsum </abbr>
					Team Nebeskie consist of professional from diverse background of electrical, electronics, marketing and finance. 
					Domain specific experienced consultants have been hired to make sure our innovation sees the lights of market as quality product 
					which is at par with the industry standards.
				</div>
				<div style="margin-bottom: 2%">
					<button type="button" class="btn btn-primary">Read More</button>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="col-lg-12 " style="color: #237dc8; margin-bottom: 2%">
					<i class="fa fa-4x fa-flask"></i>
					<h4>Innovation</h4>
				</div>
				<div class="col-lg-12 col-md-12" style="margin-bottom: 2%">
					<abbr>Lorem Ipsum </abbr>
					“It is not how many ideas you have; it’s how many you make happen.”
At Nebeskie labs we work on new ideas and develop solutions. We believe  innovative solutions are simple and not complex .

				</div>
				<div style="margin-bottom: 2%">
					<button type="button" class="btn btn-primary">Read More</button>
				</div>
			</div>
		</div>-->

        <!--Horizontal Line-->
        <!--<div class="row" style="margin-top: 1%; margin-bottom: 1%">
			<hr class="col-lg-1 col-lg-offset-5" />
		</div>-->
    </div>
    <!--<div>
		<img class="img-responsive" src="http://placehold.it/1500x200" />
	</div>-->
    <div class="container-fluid">
        <!--Horizontal Line-->
        <!--<div class="row" style="margin-top: 1%; margin-bottom: 1%">
			<hr class="col-lg-1 col-lg-offset-5" />
		</div>-->
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <h3 style="color: #237dc8">Products</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                style="padding: 0px!important; background: url('../img/1.jpg') no-repeat; background-size: 100%; height: 730px">
                <!--<div class="carousel-caption">
					<h3>Product descriptions.</h3>
				</div>-->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                style="padding: 0px!important; background: url('../img/2.jpg') no-repeat; background-size: 100%; height: 730px">
                <!--<div class="carousel-caption">
					<h3>Product descriptions.</h3>
				</div>-->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                style="padding: 0px!important; background: url('../img/3.jpg') no-repeat; background-size: 100%; height: 730px">
                <!--<div class="carousel-caption">
					<h3>Product descriptions.</h3>
				</div>-->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                style="padding: 0px!important; background: url('../img/4.jpg') no-repeat; background-size: 100%; height: 730px">
                <!--<div class="carousel-caption">
					<h3>Product descriptions.</h3>
				</div>-->
            </div>
            <!--<div class="col-lg-6 col-md-6">
				<img src="http://placehold.it/1000x450" alt="test" class="img-responsive" />
				<div class="carousel-caption">
					<h3>Product descriptions.</h3>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<img src="http://placehold.it/1000x450" alt="test" class="img-responsive" />
				<div class="carousel-caption">
					<h3>Product descriptions.</h3>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<img src="http://placehold.it/1000x450" alt="test" class="img-responsive" />
				<div class="carousel-caption">
					<h3>Product descriptions.</h3>
				</div>
			</div>-->
        </div>

        <!--<div class="row" style="margin-top: 1%; margin-bottom: 1%">
			<hr class="col-lg-1 col-lg-offset-5" />
		</div>-->
    </div>


    <!--awards and recog crousel-->
    <!--	<div class="container text-center">
		<h3 style="color: #237dc8">Awards & Regocnitionss</h3>
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="carousel slide" id="myCarousel" data-interval="3000" data-type="multi" data-ride="carousel">
					<div class="carousel-inner">
						<div class="item active">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<a href="#">
									<img class="img-responsive" src="http://placehold.it/500/e499e4/fff&amp;"></a>
							</div>
						</div>
						<div class="item">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<a href="#">
									<img class="img-responsive" src="http://placehold.it/500/e477e4/fff&amp;"></a>
							</div>
						</div>
						<div class="item">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<a href="#">
									<img class="img-responsive" src="http://placehold.it/500/eeeeee&amp;"></a>
							</div>
						</div>
						<div class="item">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<a href="#">
									<img class="img-responsive" src="http://placehold.it/500/f4f4f4&amp"></a>
							</div>
						</div>
						<div class="item">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<a href="#">
									<img class="img-responsive" src="http://placehold.it/500/f566f5/333&amp;"></a>
							</div>
						</div>
						<div class="item">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<a href="#">
									<img class="img-responsive" src="http://placehold.it/500/f477f4/fff&amp"></a>
							</div>
						</div>
						<div class="item">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<a href="#">
									<img class="img-responsive" src="http://placehold.it/500/eeeeee&amp"></a>
							</div>
						</div>
						<div class="item">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<a href="#">
									<img class="img-responsive" src="http://placehold.it/500/fcfcfc/333&amp;"></a>
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
				</div>
			</div>


		</div>
		<div class="row" style="margin-top: 1%; margin-bottom: 1%">
			<hr class="col-lg-1 col-lg-offset-5" />
		</div>
	</div>-->

    <div id="aboveFooter" class="siteAboveFooter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <h4>About Us</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Team</a></li>
                        <li><a href="#">History</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h4>Products</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Product 1</a></li>
                        <li><a href="#">Product 2</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h4>Careers</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Current Opening</a></li>
                        <li><a href="#">Location wise Opening</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h4>Downloads</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Earth Home</a></li>
                        <li><a href="#">Auto Switch</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div id="footer" class="siteFooter">
        <div class="container-fluid">
            <div class="row">
                <span class="pull-left col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">Copyright@2017 Nebeskie</span>
                <strong class="col-lg-3 col-md-3 pull-right">
                    <i class="fa fa-fw fa-facebook"></i>
                    <i class="fa fa-fw fa-google-plus-square"></i>
                    <i class="fa fa-fw fa-youtube"></i>
                    <i class="fa fa-fw fa-linkedin"></i>
                </strong>
            </div>

        </div>
    </div>
</body>
</html>
<script src="../js/lib/jquery-1.12.3.min.js"></script>
<script src="../js/lib/bootstrap.min.js"></script>
<script>
    $('.carousel[data-type="multi"] .item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 2; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
        }
    });
</script>
