<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wifi Switch from Nebeskie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../style/lib/bootstrap.css" rel="stylesheet" />
    <link href="../style/nebeskieStyle.css" rel="stylesheet" />
    <link href="../style/lib/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,300,700" rel='stylesheet' type='text/css' />

    <script src="../js/lib/jquery-1.12.3.min.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>
    <script>
        $('.carousel[data-type="multi"] .item').each(function () {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < 2; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }

                next.children(':first-child').clone().appendTo($(this));
            }
        });
    </script>
</head>
<body>
    <div id="Pageheader">
        <script>
            $("#Pageheader").load("pageHeader.htm");
        </script>
    </div>

    <div class="container textColorBlack">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="row text-capitalize ">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">earth home wifi switch
                    </h3>
                    <p style="color: rgb(31, 153, 0); font-size: 20px; margin-left: 15px;">&#x20b9; 0</p>
                    <a style="margin-left: 15px;" class="text-lowercase">add To wish list</a> <span style="color: rgb(31, 153, 0); font-size: 15px; font-weight: bold;">></span>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <img src="http://placehold.it/400x300" alt="test" class="img-responsive" />
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="http://placehold.it/400x300" alt="test" class="img-responsive" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="http://placehold.it/400x300" alt="test" class="img-responsive" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="http://placehold.it/400x300" alt="test" class="img-responsive" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="http://placehold.it/400x300" alt="test" class="img-responsive" />
                    </div>
                </div>
            </div>
            <div>
                <ul class="nav nav-tabs">
                    <!-- add data-toggle attribute to the anchors -->
                    <li class="active"><a data-toggle="tab" href="#Overview">Overview</a></li>
                    <li><a data-toggle="tab" href="#CustomerReview">Customer Review</a></li>
                    <li><a data-toggle="tab" href="#QA">Q&A</a></li>
                </ul>
                <div class="tab-content">
                    <div id="Overview" class="tab-pane fade in active">
                        <div class="row  vertical-align">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <h4 class="text-capitalize">Control your lights and other appliance from anywhere
                                </h4>
                                <div class="textcolorGrey">
                                    <p>
                                        Have control over your lights and appliances from anywhere using Earth Home Wi-Fi Switchs. 
                                        These smart switchs retrofit into your existing wiring system and use local Wi-Fi network 
                                        for seamless wireless control of your lights and appliances.  Earth Home Wi-Fi switchs can 
                                        operate any device which a traditional switch can, moreover, with a little technology infusion, 
                                        you will be able to control it from anywhere ( for e.g. Turn on your air conditioner even 
                                        before you reach home, turn off the lights of your house from anywhere, in case you forgot to do so). 
                                        Use Earth Home smart switches with Earth Home crayons to make your wall come alive.
                                    </p>
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <img src="http://placehold.it/400x300" alt="test" class="img-responsive" />
                            </div>
                        </div>
                        <div class="row  vertical-align">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <img src="http://placehold.it/400x300" alt="test" class="img-responsive" />
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <h4 class="text-capitalize">Schedule your lights and appliances</h4>
                                <div class="textcolorGrey">
                                    <p>
                                        Schedule your lights for a worry free day. 
                                        Turn off the light lamp at sunrise or synchronize your hall light with sunset. 
                                        Schedule geyser for winter morning shower.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="row  vertical-align">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <h4 class="text-capitalize">Safe Home is a happy home</h4>
                                <div class="textcolorGrey">
                                    <p>
                                        Create an illusion of being at home when actually your are not. 
                                        In one click, randomize your lights to make it appear like you are home. 
                                        With a safe and protected home, now you can enjoy your vacations.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <img src="http://placehold.it/400x300" alt="test" class="img-responsive" />
                            </div>
                        </div>
                        <div class="row vertical-align">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right">
                                <img src="http://placehold.it/400x300" alt="test" class="img-responsive" />
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-left">
                                <h4 class="text-capitalize">System Requirement</h4>
                                <div class="textcolorGrey">
                                    <ul>
                                        <li>Wi-Fi router</li>
                                        <li>Android 4.4 or higher</li>
                                        <li>Neutral wire required</li>
                                        <li>Replaces single pole switch (Not compatible with  two way switch)</li>
                                        <li>Works with your existing wiring system no additional wiring required.</li>
                                        <!--<li></li>
                    <li></li>
                    <li></li>
                    <li></li>-->
                                    </ul>
                                </div>
                                <h4 class="text-capitalize">Product Dimension</h4>
                                <div class="textcolorGrey">
                                    <ul>
                                        <li>70 cm X B X 18cm</li>
                                        <li>B depends on no of load point and rating of the load points</li>
                                        <li>Please refer the chart</li>
                                        <!--<li>Earth Home Wi-Fi switch can connect any
            device which a traditional switch does but with an
            innovation now you can control it from anywhere (few
            examples of the use cases) Use this smart switch with
            Earth Home crayons to make your wall come alive </li>-->
                                        <!--<li></li>
                    <li></li>
                    <li></li>
                    <li></li>-->
                                    </ul>
                                </div>
                                <!--<h4 class="text-capitalize">Product Image</h4>-->
                                <div class="textcolorGrey">
                                    <!--<ul>
                                        <li>Schedule your lights</li>
                                        <li>Schedule your lights for a worry free day</li>
                                        <li>Turn off the light lamp at sunrise or synchronize your hall light with sunset</li>
                                        
                                    </ul>-->
                                </div>
                                <!-- Image 1

            Image 2 Safe Home is a happy home.

            Randomize your lights to make it appear like you are
            home – when you are not and have a safe and
            protected home. All your connected lights can be
            randomized in one click.

            70 cm X B X 18cm
            B depends on no of load point and rating of the load points .
            Please refer the chart.-->
                            </div>
                        </div>
                    </div>
                    <div id="CustomerReview" class="tab-pane fade">
                        <h4>Customer Review</h4>
                       <!-- <p>Some content in menu 1.</p>-->
                    </div>
                    <div id="QA" class="tab-pane fade">
                        <h4>Question & Answers</h4>
                        <!--<p>Some content in menu 2.</p>-->
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-offset-1 col-lg-2 col-md-2 hidden-sm hidden-xs">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center" style="background: #d7d1d1; margin-top: 20px">
                    <h4 class="text-uppercase">product support</h4>
                    <p>
                        <i class="glyphicon glyphicon-user"></i>Register Product
                    </p>
                    <p>
                        <i class="glyphicon glyphicon-question-sign"></i>Customer Support
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center text-capitalize" style="background: rgb(44, 178, 229); margin-top: 20px; min-height: 141px;">
                    <div id="burst-12" style="margin-top: 20px; margin-bottom: 10px; margin-left: 33px">
                    </div>
                    <div id="circleB"></div>
                    <div id="circle"></div>
                    <p style="color: white; font-size: 22px; font-weight: bold; margin-top: -108px; margin-left: 47px; position: absolute; z-index: 10; max-width: 75px;">
                        90 day return policy
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="PageFooter">
        <script>
            $("#PageFooter").load("pageFooter.htm");
        </script>
    </div>
</body>
</html>
