<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to Nebeskie</title>
    <link href="../style/lib/bootstrap.css" rel="stylesheet" />
    <link href="../style/nebeskieStyle.css" rel="stylesheet" />
    <link href="../style/lib/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <!--super header-->
    <div id="site_top_panel" class="siteTopPanel hidden-sm hidden-xs">
        <div class="container-fluid">
            <div class="row">
                <strong class="pull-left col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">email : info@nebeskie.com</strong>
                <strong class="col-lg-3 col-md-3 pull-right">
                    <i class="fa fa-fw fa-facebook"></i>
                    <i class="fa fa-fw fa-google-plus-square"></i>
                    <i class="fa fa-fw fa-youtube"></i>
                    <i class="fa fa-fw fa-linkedin"></i>
                </strong>
            </div>

        </div>
    </div>

    <!--navigation bar-->
    <div id="navBar" style="font-size: 18px!important;">
        <nav class="navbar navbar-default text-uppercase">
            <div class="container">
                <div class="row">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">nebeskie logo</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="home.htm"><i class="glyphicon glyphicon-home"></i><span class="sr-only">(current)</span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us 
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    <li><a href="#">team</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">history</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">careers</a></li>
                            <li><a href="#">downloads</a></li>
                            <li><a href="#">contact us</a></li>
                        </ul>
                        <!--<form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>-->
                        <!-- <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>-->
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px!important">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 0px!important; background-color: #ccddff; height: 342px;">

                    <div class="text-center" style="padding-top: 5%">
                        <h2><em>Earth Home Wi-Fi Switch</em></h2>
                        <h1><strong>Comfort Control Convenience</strong> </h1>
                        <blockquote>
                            <p class=" col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                Control lights or other appliances , set
                        rules and create scenarios from
                        Earth Home App.
                            </p>
                        </blockquote>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 3%">
                            <button class="btn btn-default" type="submit">learn more</button>
                        </div>
                    </div>

                </div>
               
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"  style="background: url('../img/1editededited.jpg') no-repeat;background-size: 100%; height:342px "> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px!important">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 0px!important">
                    <img src="http://placehold.it/1000x500" alt="test" class="img-responsive" />
                    <div class="carousel-caption">
                        <h3>Product descriptions.</h3>
                       
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 0px!important; background-color: #ffcce7; height: 342px;">

                    <div class="text-center" style="padding-top: 5%">
                        <h2><em>Earth Home IR-Emote</em></h2>
                        <h1><strong>Create a perfect ambience</strong> </h1>
                        <blockquote>
                            <p class=" col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                Change the channel of your TV or set the temperature of AC from Earth Home App.
                            </p>
                        </blockquote>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 3%">
                            <button class="btn btn-default" type="submit">learn more</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="aboveFooter" class="siteAboveFooter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <h4>About Us</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Team</a></li>
                        <li><a href="#">History</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h4>Products</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Product 1</a></li>
                        <li><a href="#">Product 2</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h4>Careers</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Current Opening</a></li>
                        <li><a href="#">Location wise Opening</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h4>Downloads</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Earth Home</a></li>
                        <li><a href="#">Auto Switch</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div id="footer" class="siteFooter">
        <div class="container-fluid">
            <div class="row">
                <span class="pull-left col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">Copyright@2017 Nebeskie</span>
                <strong class="col-lg-3 col-md-3 pull-right">
                    <i class="fa fa-fw fa-facebook"></i>
                    <i class="fa fa-fw fa-google-plus-square"></i>
                    <i class="fa fa-fw fa-youtube"></i>
                    <i class="fa fa-fw fa-linkedin"></i>
                </strong>
            </div>

        </div>
    </div>
</body>
</html>
<script src="../js/lib/jquery-1.12.3.min.js"></script>
<script src="../js/lib/bootstrap.min.js"></script>
<script>
    $('.carousel[data-type="multi"] .item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 2; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
        }
    });
</script>
