<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nebeskie Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../style/lib/bootstrap.css" rel="stylesheet" />
    <link href="../style/nebeskieStyle.css" rel="stylesheet" />
    <link href="../style/lib/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,300,700" rel='stylesheet' type='text/css' />

    <script src="../js/lib/jquery-1.12.3.min.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>
    <script>
        $('.carousel[data-type="multi"] .item').each(function () {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < 2; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }

                next.children(':first-child').clone().appendTo($(this));
            }
        });
    </script>
</head>
<body>
    <div id="Pageheader">
        <script>
            $("#Pageheader").load("pageHeader.htm");
        </script>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px!important">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 0px!important; background-color: #ccddff; height: 342px;">

                    <div class="text-center" style="padding-top: 5%">
                        <h2><em>Earth Home Wi-Fi Switch</em></h2>
                        <h1><strong>Comfort Control Convenience</strong> </h1>
                        <blockquote>
                            <p class=" col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                Control lights or other appliances , set
                        rules and create scenarios from
                        Earth Home App.
                            </p>
                        </blockquote>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 3%">
                            <button class="btn btn-default" type="submit" onclick="location.href='ProductWifiSwitch.htm'">learn more</button>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="background: url('../img/1editededited.jpg') no-repeat; background-size: 100%; height: 342px"></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px!important">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 0px!important">
                    <img src="http://placehold.it/1000x500" alt="test" class="img-responsive" />
                    <div class="carousel-caption">
                        <h3>Product descriptions.</h3>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 0px!important; background-color: #ffcce7; height: 342px;">

                    <div class="text-center" style="padding-top: 5%">
                        <h2><em>Earth Home IR-Emote</em></h2>
                        <h1><strong>Create a perfect ambience</strong> </h1>
                        <blockquote>
                            <p class=" col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                Change the channel of your TV or set the temperature of AC from Earth Home App.
                            </p>
                        </blockquote>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 3%">
                            <button class="btn btn-default" type="submit">learn more</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="PageFooter">
        <script>
            $("#PageFooter").load("pageFooter.htm");
        </script>
    </div>
</body>
</html>
<script src="../js/lib/jquery-1.12.3.min.js"></script>
<script src="../js/lib/bootstrap.min.js"></script>
<script>
    $('.carousel[data-type="multi"] .item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 2; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
        }
    });
</script>
